<p id="notice"><%= notice %></p>

<h1>Su Boleta</h1>

<table>
  <thead>
    <tr>
      <th>De</th>
      <th>Acuerdo a su pedido</th>
      <th>Revise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boleta.each do |boletum| %>
      <tr>
        <td><%= boletum.pizza1 %></td>
        <td><%= boletum.ingrediente %></td>
        <td><%= boletum.usuario %></td>
        <td><%= link_to 'Show', boletum %></td>
        <td><%= link_to 'Edit', edit_boletum_path(boletum) %></td>
        <td><%= link_to 'Destroy', boletum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Boleta de su pedido', new_boletum_path %>
